:root {
    --mainWhite: #fff;
    --mainGrey: #343838;
    --mainLightGrey: #aeb8c3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--mainGrey) !important;
    color: var(--mainWhite) !important;
}

.button {
    border-radius: 5px;
    width: 50px;
    height: 48px;
    font-weight: bold;
    margin: 0 20px;
}

button:hover {
    background: var(--mainLightGrey);
}
.switchBtn {
    margin-left: 15px;
}
.form {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.loading {
    margin: 0 auto;
}
.background {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
.navbar {
    width: 100%;
    text-align: center;
    color: white;
    margin: 20px;
}
.navbar > * {
    margin: 0 auto;
}
.tempRn {
    width: 100%;
    align-content: baseline;
}
.date {
    display: flex;
    flex-flow: row wrap;
}
h1 {
    font-weight: bolder;
    font-size: 2rem;
}
.temperature {
    font-size: 100px;
}

.week {
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    padding: 0 0;
}
/*  mobile  */

@media only screen and (max-width: 780px) {
    .temperature {
        font-size: 60px;
    }
    .form {
        flex-wrap: wrap;
        width: 70%;
    }
    .navbar {
        width: 90%;
    }
    .switchBtn {
        margin-top: 20px;
    }
    .button {
        margin-bottom: 20px;
    }
    li {
        padding: 0px 10px;
    }
}
@media only screen and (max-width: 600px) {
    .week {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    li {
        padding: 5px 2px;
    }
    h1 {
        padding-top: 20px;
    }
}
