:root {
    --mainWhite: #fff;
    --mainGrey: #343838;
    --mainLightGrey: #aeb8c3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--mainGrey) !important;
    color: var(--mainWhite) !important;
}

.button {
    border-radius: 5px;
    width: 50px;
    height: 48px;
    font-weight: bold;
}

button:hover {
    background: var(--mainLightGrey);
}
.form {
    display: flex;
    justify-content: space-around;
}
.weather {
    font-size: 2rem;
}
.background {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
.container {
    background: rgba(52, 56, 56, 0.7);
    border-radius: 5px;
    max-width: 600px;
    padding: 1rem;
}

/*  mobile  */
@media only screen and (max-width: 991px) {
    .button {
        margin-left: 0px;
        margin-right: 10px;
    }
    .switchBtn {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 600px) {
    /* .container {
        width: 800px;
    } */
    .form {
        flex-wrap: wrap;
    }
    .switchBtn {
        margin-top: 20px;
    }
    .button {
        margin-bottom: 20px;
    }
}
